<?xml version="1.0"?>
<launch>

  <param name="franka_arm_description" command="$(find xacro)/xacro.py '$(find franka_description)/robots/panda_arm.urdf.xacro'"/>
  <param name="urdf_param" value="/franka_arm_description"/> 
  <param name="sim_enable" value= "true"/> <!--  use simulator? -->

  <node pkg="tf" type="static_transform_publisher" name="panda_base"
  args="0.0 0.0 0.0 0 0 0 1 map panda_base 10" />

  <node pkg="tf" type="static_transform_publisher" name="camera_base"
  args="-0.2838 0.13 0.3766 0 0 0 1 panda_base camera_base 10" />

  <node name="GraspSamplerServer" pkg="grasp_sampler" type="GraspSamplerServer" output="screen" >
    <param name="yaml_path" type="string" value="$(find grasp_sampler)/config/hw_param.yaml"/>
  </node>

</launch>
