<?xml version="1.0"?>
<launch>

  <node name="graspSampling" pkg="roi_extractor" type="graspSampling" output="screen" >
    <param name="target_obj_num" type="int" value="0"/> 
    <param name="Gasp_Visualiztion" type = "bool" value="false"/> <!-- defualt = false-->
  </node>

  <!--<include file="$(find realsense2_camera)/launch/rs_rgbd_custom.launch">
    에저센서 쵴오
  </include>-->

</launch>